<?php

date_default_timezone_set("America/New_York");

$system_name = "Xion";

$password_salt = "salt_here";

$twilioAccountSid = "twilio_account_sid";
$twilioAuthToken = "twilio_auth_token";

$emailArray = array(
	'host' => 'ssl://smtp.gmail.com',
	'port' => '465',
	'auth' => true,
	'username' => 'username@gmail.com',
	'password' => 'password'
);

$database = new PDO("mysql:host=localhost;dbname=xion", "root", "password");

/*

Not needed:
pear channel-discover twilio.github.com/pear
pear install twilio/Services_Twilio

pear install Mail
pear install Net_SMTP



*/

?>
